body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
}

label, select, table {
    margin-bottom: 1rem;
}

#datePicker {
    padding: 0.5rem;
    font-size: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

.dashboard-box {
    width: 200px;
    height: 110px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
}
.dashboard-box > span, .dashboard-box > input {
    display:block;
    margin-top:20px;
    font-size:larger;
}
#wallet_filter {
    margin-left:20px;
}
.little {
    font-size:smaller !important;
}
#data_notice {
    display:none;
    color:darkred;
    text-align: center;
}