body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
}
label, select, table {
    margin-bottom: 1rem;
}

#datePicker {
    padding: 0.5rem;
    font-size: 1rem;
}

table {
    width: 100vw;
    border-collapse: collapse;
}

th, td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #e9e9e9;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dashboard-box {
    width: 200px;
    height: 110px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.dashboard-box > span, .dashboard-box > input {
    display:block;
    margin-top:20px;
    font-size:larger;
}
.dashboard-box input {
    width:100px;
    text-align:center;
}
#wallet_filter {
    margin-left:20px;
}
.little {
    font-size:smaller !important;
}
#data_notice {
    display:none;
    color:darkred;
    text-align: center;
}
th .download-button {
    float:right;
}
.btn_dappflow {
    cursor:pointer;
    float:right;
}
#dataTable {
    width: 100%;
}
@media screen and (max-width: 600px) {
    body {
        padding: 0;
    }
    td, th {
        padding: 0;
        font-size: 8px;
    }
    table {
        max-width: 100vw;
    }
    .dashboard-box {
        width: 30vw;
    }
    .dashboard-box > span {
        margin-top:10px;
    }
    #wallet_filter {
        margin-left:0px;
        font-size:smaller;
    }
    th .download-button {
        float:none;
        font-size: 0.5rem;
    }
    .btn_dappflow {
        float:none;
    }
    #rewardPoolInfo {
        font-size: 0.7rem;
    }
}